.page-body {
    font-family: 'Raleway', monospace   ;
    background-color: #ffffff;
    color: #212121;
    margin: 20px 365px 0px;
    padding: 0;
    width:980px;
    justify-content: center;
}
header{
    display: flex;
    margin: 0 auto;
}
.nav-list {
    display: flex;
    width:480px;
    list-style: none;
}

.nav-list li {
    margin-right: 25px;
}

.nav-list li a {
    font-size:16px;
    font-style:regular;
    text-decoration: none;
    color: rgb(33, 33, 33, 0.5);
    display: inline;

}
.nav-list li a:hover {
    color:#212121;
}
.logo {
    font-size:30px;
    font-style: bold;
    margin-right:320px;
}

h1 {
    font-size: 75px;
    font-style: bold;
    margin-top: 40px;
    margin-bottom: 10px;
    width: 245px;
}
h2 {
    font-size: 25px;
    font-style: bold;
}
.section-header {
    font-size: 25px;
    font-style: italic;
    font-weight: 200;
    width: 760px;
    padding: 8px;
    background-color: rgb(239, 239, 239, 0.5);
}
h3 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 30px;
}
.inner-section{
    margin-top: 60px;
}
.inner-section:last-child {
    margin-bottom: 100px;
}
p {
    font-size: 18px;
    font-style: regular;
    max-width: 780px;
}
.main-section {
    display: flex;
    margin-bottom: 100px;
    align-items: flex-start;
}
.avatar-img {
    margin-top:60px;
    width: 350px;
    height: 450px;
    margin-right: 45px;
}
.texts-main-section {
    width: 450px;
    vertical-align: top;
}
code {
    font-size: 18px;
}
ul {
    font-size: 18px;
}
.edu-list-item {
    margin-bottom: 15px;
}
.contact-list-item {
    margin-bottom: 15px;
}

.skills-list {
    margin-bottom: 15px;
}
.container {
    display: flex;
    width: 780px;
    align-items: center;
    margin: 15px 0px;
}
.container p {
    font-size: 16px;
}
.github-logo {
    justify-content: center;
    margin: 0px 20px 0px 0px;
}

.rs-rschool-logo {
    margin: 0px 0px 0px 465px;
}
.skills-list-h {
    list-style-type: none;
    margin-bottom: 10px;
}